input {
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-left: 0%;
    margin-right: 0%;

    font-size: 25pt;
}

h3 {
    text-align: center;
}
body{
    background-image: url('../imagem/school.jpg');
    
    background-size:cover;
  

 
}

form {
	background-color:  #FFC0CB;
  border-radius: 15px;
}

input {
	font-size: 25px;
	border-radius: 14px;
}
.central-principal{
	font-size: 16px;
}

 